html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(100deg, #265e78, #ddffb3);
}
/* keep the container centered */
.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 让 Logo 的位置与屏幕高度有关 */
/* the position of the logo dependent on the screen height */
.quiz-logo {
    width: 250px; 
    height: auto;
    position: absolute;
    top: -20vh; 
    left: 50%;
    transform: translateX(-50%); 
}

/* 让 START 按钮的位置与屏幕高度有关 */
/* the position of the START button dependent on the screen height */
.start-button {
    background-image: linear-gradient(100deg, rgb(63, 179, 192), rgb(107, 190, 71), rgb(173, 218, 97));
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 
       
        -1px  3px 0 rgba(0, 0, 0, 0.243),
         1px  3px 0 rgba(0, 0, 0, 0.236);
    font-size: 32px;
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    height: var(--button-height, 60px); /* control the height */
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 
        -1px 1px 0 rgba(0, 0, 0, 0.243),  /* 左上阴影 */
        1px 1px 0 rgba(0, 0, 0, 0.236),

        3px 1px 0 rgba(0, 0, 0, 0.243),
        -1px 3px 0 rgba(0, 0, 0, 0.243);  /* 左上阴影 */
        

    position: absolute;
    top: 20vh; /* 70%  */
    left: 50%;
    transform: translateX(-50%); 
}

/* BACK */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s ease;
}
/* BACK logo */
.back-button i {
    font-size: 20px;
}