<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body class="login-page">
    <div class="container">
        <h1>
            Sign in
        </h1>
        <h3>
            Use your email<br><br>
        </h3>
        <div class="data">
            <form action="{% url 'core:login' %}" method="post">
                {% csrf_token %}
                
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email" required><br><br>
                </div>

                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" required><br><br>
                </div>

                <!-- Loading animation -->
                <div class="loading" style="display: none;">Loading...</div>

                <div class="form-group">
                    <input type="checkbox" name="remember">
                    <span class="chk-box">
                        Remember me<br><br>
                    </span>
                </div>

                <div class="form-group">
                    <input type="submit" class="form-control sign-btn" value="Sign in"><br><br>
                </div>

                <div class="sign-up">
                    <span>Don't have an account?</span>
                    <input type="button" class="signup-btn" value="Sign up" onclick="window.location.href='{% url 'core:signup' %}';">
                </div>
                
                <div class="error error-message" style="display: {% if error_message %}block{% else %}none{% endif %};">
                    {% if error_message %}
                        {{ error_message }}
                    {% elif form.errors %}
                        Invalid username or password
                    {% endif %}
                    {% if form.errors %}
                    <p>Forgotten your password? <a href="{% url 'core:password_reset' %}">Reset password</a></p>
                    {% endif %}
                </div>
                
            </form>
        </div>
    </div>
    
    
    
    <script src="{% static 'script.js' %}"></script>
</body>
</html>