<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <div class="container">
        <h1>
            Sign in
        </h1>
        <h3>
            Use your Email<br><br>
        </h3>
        <div class="data">
            <form action="{% url 'core:login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="username"><br><br>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password"><br><br>
                </div>

                <div class="form-group">
                    <input type="checkbox">
                    <span class="chk-box">
                        Remember me<br><br>
                    </span>
                </div>

                <div class="form-group">
                    <input type="submit" class="form-control log-btn" value="sign in"><br><br>
                </div>

                <div class="sign-up">
                    <span>Don't have an account?</span>
                    <input type="button" class="signup-btn" value="Sign Up" onclick="window.location.href='../signup';">
                </div>
                
                <div class="error">
                    {% if form.errors %}
                    <p>Invalid details: please try again</p>
                    <p>Forgotten your password? <a href="{% url 'core:password_reset' %}">Reset password</a></p>
                    {% endif %}
                </div>

                <div class="reset-password">

                </div>
            </form>
        </div>
        
</body>
</html>