{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="{% static 'questions.css' %}">
    <script defer src="{% static 'questions.js' %}"></script>
</head>
<body>

    <div class="quiz-container">
        <h2 id="question-number">Question 1</h2>
        <h3 id="question-text">Loading...</h3>

        <div class="options">
            <button class="option" data-option="A">A. <span></span></button>
            <button class="option" data-option="B">B. <span></span></button>
            <button class="option" data-option="C">C. <span></span></button>
            <button class="option" data-option="D">D. <span></span></button>
        </div>
    </div>

    <!-- 进度条 -->
     <div class="progress">
        <div class="progress-bar">
            <div class="progress-per" per="0%" style="max-width: 100%;"></div>
            <img src="{% static 'pictures/turkey.gif' %}" class="progress-icon" id="progress-icon">
            <div class="progress-per" per="0%" style="max-width: 100%;"></div>
            <!-- grass -->
            <img src="{% static 'pictures/grass.gif' %}" class="grass-overlay" id="progress-icon">
        </div>
     </div>

    <!-- Embed questions data as JSON -->
    <script>
        const questions = JSON.parse(`{{ questions_json|escapejs }}`);
    </script>
</body>
</html>
