{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="{% static 'quiz.css' %}">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <!-- BACK -->
    <button class="back-button" id="back" onclick="location.href='{% url 'core:home' %}'">
        <i class="fa fa-sign-out"></i> BACK
    </button>

    <div class="container">
        <!-- START -->
         <img src="{% static 'pictures/logo2.PNG' %}" alt="Quiz Logo" class="quiz-logo">
        <button class="start-button" id="start">START</button>
    </div>  
    
    <script src="{% static 'quiz.js' %}"></script>  
</body>
</html>
