<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="login-page">
    <div class="container">
        <h1>Sign up!</h1>
        <h3>Create a new account<br><br></h3>
        <div class="data">
            <form action="{% url 'core:signup' %}" method="post">
                {% csrf_token %}
                <!-- error message display -->
                <div class="error-message" style="display: none;"></div>

                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Username" required><br><br>
                </div>

                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email" required><br><br>
                </div>

                <div class="form-group">
                    <input type="text" name="first_name" class="form-control" placeholder="First name" required><br><br>
                </div>

                <div class="form-group">
                    <input type="text" name="last_name" class="form-control" placeholder="Last name" required><br><br>
                </div>

                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" required><br><br>
                </div>

                <div class="form-group">
                    <div class="button-container">
                        <input type="submit" class="form-control sign-btn" value="Sign up"><br><br>
                        <span class="loading-text" style="display: none;">Loading...</span>
                    </div>
                </div>

                <div class="sign-in">
                    <span>Already have an account?</span>
                    <input type="button" class="signin-btn" value="Sign in" onclick="window.location.href='{% url 'core:login' %}';">
                </div>
            </form>
        </div>
    </div>
    <div class="success-modal" style="display: none;">
        <div class="modal-content">
            <div class="modal-loading" style="display: none;">
                <h2>Loading...</h2>
            </div>
            <div class="modal-success" style="display: none;">
                <h2>Success!</h2>
                <p>Your account has been created successfully!</p >
                <button class="modal-btn" onclick="window.location.href='{% url 'core:login' %}';">Back to Login</button>
            </div>
        </div>
    </div>
</body>
</html>