<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up/log in</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Sign Up!</h1>
        <h3>Create a new account<br><br></h3>

        <div class="data">
            <form action="#">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" required><br><br>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name" required><br><br>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name" required><br><br>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" oninput="this.value = this.value.replace(/\D/g, '')" placeholder="Student ID" required><br><br>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required><br><br>
                </div>

                <div class="form-group">
                    <input type="submit" class="form-control log-btn" value="sign up"><br><br>
                </div>

                <div class="sign-in">
                    <span>already have an account?</span>
                    <input type="button" class="signin-btn" value="sign in" onclick="window.location.href='login.html';">
                </div>
            </form>
        </div>
    </div>
</body>